:root {
  --alpha: hsl(229, 8%, 60%); // Text
  --beta: hsl(229, 31%, 21%); // Title and footer
  --gamma: hsl(0, 94%, 66%); // Hover and warning
  --delta: hsl(231, 69%, 60%); // Button and contact
  --ei: #ffff; // White
}
